// Global variables
// ========================================================================

// Compass extention
@import 'compass/css3';

// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

$main_font_family:								Open Sans, sans-serif;

%f_bold {
	font-weight: 600;
}
%f_normal {
	font-weight: 400;
}
%f_light {
	font-weight: 300;
}

// Elements color
$el-bg-colors: (
	primary: #000,
	success: #27BA6C,
	info: #03a9f4,
	warning: #FF8833,
	danger: #ff1a1a,
);



//
// Breakpoints ================================
//
$breakpoint-small:                               480px !default;
$breakpoint-medium:                              760px !default;
$breakpoint-large:                               960px !default;
$breakpoint-xlarge:                              1200px !default;

$breakpoint-mini-max:                            ($breakpoint-small - 1) !default;
$breakpoint-small-max:                           ($breakpoint-medium - 1) !default;
$breakpoint-medium-max:                          ($breakpoint-large - 1) !default;
$breakpoint-large-max:                           ($breakpoint-xlarge - 1) !default;



// Mixin ======================================

// Style for columns text
@mixin columns-text($width, $count, $padding, $divider_widh, $divider_line, $divider_color) {
	@include columns($width $count); // Count and width or columns
	@include column-gap($padding); // Padding for columns
	@include column-rule($divider_widh $divider_line $divider_color); // Divider for columns
}


// Float el clear
%clear_a {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

%clear_b {
	&:before {
		content: '';
		display: table;
		clear: both;
	}
}

%clear_all {
	@extend %clear_a;
	@extend %clear_b;
}

// Transition el
@mixin trs($trs_speed) {
	transition: all $trs_speed;
}


// Placeholder for input
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}


// End @mixin and variables

// ========================================================================
// Main styles
// ========================================================================
.fl__left {
	float: left;
}

.fl_right {
	float: right;
}

.form__row {
	@extend %clear_a;
}

// Reset brouser styles ========================
* {
	margin: 0;
	padding: 0;
	@include box-sizing(border-box);
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
	@include box-sizing(border-box);
}

html,body,.wrapper {
	height: 100%;
	position: relative;
}

body { 
	font: 14px $main_font_family;
}

input, textarea {
	outline: 0;
}

a {
	text-decoration: none;
	outline: 0;
	&:hover {
		text-decoration: underline;
	}
}

ol,ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

p {
	padding: 0;
	margin: 0;
}

// Main wrappers =====================================
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 -116px 0; // отрицательный нижний отступ на высоту футера
}

.container_center {
	max-width: 1250px;
	margin-left: auto;
	margin-right: auto;
	// background-color: #fff;
	position: relative;
}

.list {
	margin-top: 16px;
	margin-bottom: 40px;
	&>* {
		line-height: 18px;
		padding-left: 15px;
		&:before {
			content: '·';
			font-size: 30px;
			display: inline-block;
			vertical-align: sub;
			margin-right: 5px;
			margin-left: -14px;;
		}
		&+* {
			padding-top: 13px;
		}
	}
}

img {
	max-width: 100%;
	&.fl__left {
		margin-top: 14px;
		margin-right: 29px;
		margin-bottom: 20px;
	}
	&.fl__right {
		margin-top: 14px;
		margin-bottom: 20px;
		margin-left: 29px;
	}
}

// Input text and textarea =============================================
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=number],
input[type=datetime], 
textarea {
	background-color: white;
	border: 1px solid #ccc;
	padding: 16px 32px;
	outline: none;
	font-size: 16px;
	font-weight: 300;
	font-family: $main_font_family;
	&:focus {
		border: 1px solid #004b69;
		@include placeholder {
			color: #fff;
		}
	}
	&.input_error {
		background-color: #fff0f0;
		border: 1px solid red;
	}
	// Placeholder for input ====================
	@include placeholder {
		color: #b3b3b3;
	}
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto;
}

// Input checkbox and radio ===============================================
input[type=checkbox],
input[type=radio] {
	padding: 0;
}

input[type=checkbox]:not(:disabled),
input[type=radio]:not(:disabled) {
    cursor: pointer;
}

input[type=checkbox],
input[type=radio] {
    display: inline-block;
    height: 14px;
    width: 14px;
    border: 1px solid #aaa;
    overflow: hidden;
    margin-top: -4px;
    vertical-align: middle;
    -webkit-appearance: none;
    outline: 0;
    background: 0 0;
    text-align: center;
    position: relative;
}

input[type=radio] {
    border-radius: 50%;
}

input[type=checkbox]:before,
input[type=radio]:before {
    display: block;
}

input[type=radio]:checked:before {
    content: '';
    width: 6px;
    height: 6px;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
    display: block;
    position: absolute;
    border-radius: 50%;
    background: #000;
}

input[type=checkbox]:checked:before,
input[type=checkbox]:indeterminate:before {
    content: "\2714";
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    line-height: 13px;
    color: #000;
} 

input[type=checkbox]:indeterminate:before {
    content: "\f068";
}

input[type=checkbox]:disabled,
input[type=radio]:disabled {
    border-color: #ddd;
}

input[type=radio]:disabled:checked:before {
    background-color: #aaa;
}

input[type=checkbox]:disabled:checked:before,
input[type=checkbox]:disabled:indeterminate:before {
    color: #aaa;
}

.error {
	color: red;
}

.grid {
	margin-left: -25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	@extend %clear_all;
	&__wrapper {
		padding-left: 25px;
		align-items: stretch;
		align-content: stretch;
	}
	&__item {

	}
}

/* Body
----------------------------------------------------------------------------- */
body {
	max-width: 100%;
	height: 100vh;
	padding-top: 40px;
	background: url('../img/bg.gif') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Header
 ----------------------------------------------------------------------------- */
.header {
	@extend %clear_a;
}

.logo {
	display: block;
	width: 45%;
	max-width: 758px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
}

@media (max-width: 900px) {
	.logo {width: 60%;}
}
@media (max-width: 698px) {
	.logo {width: 80%;}
}

/* Navbar
-------------------------------------------------------------------------------*/
#touchmenu {
    display: none;
    height: auto;
    padding: 12px 0px 12px 10px;
    background-color: #000;
    .minmenu {
		margin-left: 5px;
	}
}

#touchmenu a,
#touchmenu li a {
	color: #fff;
	text-decoration: none;
	font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #222534;
}

#touchmenu li a:hover {
	color: #3e99c1;
}

.navbar {
	overflow: hidden;
	text-align: left;
}

.navbar__item {
	display: inline-block;
	overflow: hidden;
	height: 87px;
	float: left;
	background-color: #fff;
	width: 20%;
	margin: 0;
	a,
	a:hover,
	a:active,
	a:focus {
		width: 100%;
		height: 100%;
		padding: 21px 15px 10px;
		color: #252525;
		text-decoration: none;
		display: block;
		// border: 1px solid #ff0000;
	}
	a:hover,
	a:active,
	a.active,
	a:focus {
		border: 1px solid #e4e7e9;
	}
	a:focus {
		border-bottom: none;
	}
	.navbar__img {
		position: relative;
		z-index: 5;
		float: left;
		display: block;
		max-width: 100%;
		height: auto;
	}
	.navbar__txt {
		font-size: 15px;
		font-weight: 600;
		text-transform: uppercase;
		text-align: center;
		position: relative;
		&:before {
			content: ('');
			width: 100%;
			height: 2px;
			position: absolute;
			top: 27px;
			left: 0;
			z-index: 1;
			margin-right: 0;
		}
		&:after {
			content: ('');
			width: 11px;
			height: 11px;
			background-color: #fff;
			border-radius: 50%;
			position: absolute;
			top: 21px;
			right: 0;
			z-index: 5;

		}
	}
	&:nth-child(1) {
		.navbar__txt:before {background-color: #86bc42;}
		.navbar__txt:after {border: 2px solid #86bc42;}
	}
	&:nth-child(2) {
		.navbar__txt:before {background-color: #652a86;}
		.navbar__txt:after {border: 2px solid #652a86;}
	}
	&:nth-child(3) {
		.navbar__txt:before {background-color: #f5a100;}
		.navbar__txt:after {border: 2px solid #f5a100;}
	}
	&:nth-child(4) {
		.navbar__txt:before {background-color: #2cabff;}
		.navbar__txt:after {border: 2px solid #2cabff;}
	}
	&:nth-child(5) {
		.navbar__txt:before {background-color: #ff4835;}
		.navbar__txt:after {border: 2px solid #ff4835;}
	}
}

@media (max-width: 1225px) {
	.navbar__item .navbar__txt {
		font-size: 14px;
	}
}

@media (max-width: 1150px) {
	.navbar__item .navbar__txt {
		text-indent: 0;
	}
}

@media (max-width: 1138px) {
	.navbar__item {
		.navbar__txt {
			font-size: 13px;
		}
	}
}

@media (max-width: 1090px) {
	.navbar {
		display: none;
	}
	#touchmenu {
		display: block;
		.navbar__img,
		.navbar__txt:before,
		.navbar__txt:after {
			display: none;
		}
	}
	.navbar .navbar__item {
		display: block;
		width: 30vw;
		height: 72px;
		border: 1px solid #e4e7e9;
		.navbar__link {padding: 11px 15px 5px;}
		.navbar__txt {font-size: 15px;}
		&:hover {
			border-left: 3px solid #B6B9BB;
		}
	}
}

@media (max-width: 895px) {
	.navbar .navbar__item {
		width: 40vw;
	}
}

@media (max-width: 695px) {
	.navbar .navbar__item {
		width: 50vw;
	}
}

@media (max-width: 540px) {
	.navbar .navbar__item {
		width: 60vw;
		.navbar__txt {font-size: 15px;}
	}
}

@media (max-width: 450px) {
	.navbar .navbar__item {
		width: 70vw;
	}
}

@media (max-width: 370px) {
	.navbar .navbar__item {
		width: 80vw;
	}
}


/* Modal window
 ----------------------------------------------------------------------------- */
.modal__window {
	width: 100%;
	background-color: #fff;
	overflow: hidden;
	opacity: 0;
	height: 0;
	margin-top: 30px;
	@include trs(0.5s);
	&.open {
		margin-top: 0;
		opacity: 1;
		height: auto;
	}
	.modal__top {
		position: relative;
		width: 100%;
		min-height: 49px;
		background-color: #eff2f4;
		@extend %clear_a;
		.close {
			position: absolute;
			top: 13px;
			display: block;
			cursor: pointer;
			right: 15px;
			&:hover {
				opacity: 0.8;
			}
		}
	}
	.modal__content {
		border: 1px solid #e4e7e9;
		border-top: none;
		.modal__content__top {
			width: 100%;
			height: 30px;
		}
		.modal__content__bottom {
			width: 100%;
			height: 41px;
		}
	}
}

.modal__content__center {
	width: 100%;
	height: 564px;
	padding-left: 26px;
	padding-right: 50px;
	.img1 {
		display: block;
		float: left;
		margin-right: 22px;
		margin-bottom: 17px;
		width: 50%;
		height: auto;
	}
	p {
		margin-bottom: 17px;
		text-align: justify;
		font-size: 14px;
		font-weight: 300;
	}
}

.modal__nav__li {
	float: left;
	line-height: 49px;
	font-size: 16px;
	font-weight: 400;
	a {
		padding: 0 26px;
		color: #252525;
		display: block;
		cursor: pointer;
		text-decoration: none;
		&:hover,
		&:active,
		&.active,
		&.focus {
			color: #fff;
			background-color: #86bc42;
		}
	}
}


@media (max-width: 1000px) {
	.modal__content__center .img1 {
		width: 60%;
	}
}
@media (max-width: 750px) {
	.modal__content__center .img1 {
		width: 100%;
	}
}
@media (max-width: 740px) {
	.modal__nav__li {
		width: 29vw;
		text-align: center;
	}
}
@media (max-width: 695px) {
	.modal__nav__li {
		width: 50vw;
		border: 1px solid #D7D9DB;
		a:hover,
		a:active,
		a.active,
		a:focus {
			border: 0;
		}
	}
}

@media (max-width: 540px) {
	.modal__nav__li {
		width: 60vw;
		.navbar__txt {font-size: 15px;}
	}
}

@media (max-width: 450px) {
	.modal__nav__li {
		width: 70vw;
	}
}

@media (max-width: 370px) {
	.modal__nav__li {
		width: 80vw;
	}
}
@media (max-width: 350px) {
	.modal__top .close {
		right: 10px !important;
	}
}

// Baron
.baron__clipper {
    position: relative;
    overflow: hidden;
}
.baron__scroller {
    overflow-y: scroll;
    -ms-overflow-style: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    height:100%;
    width: 100%;
    /* remove line to customize scrollbar in iOs */
}
.baron__scroller::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.baron__track {
    display: block;
    position:absolute;
    top: 0;
    right: 25px;
    bottom: 0;
    width: 2px;
	background-color: #e4e7e9;
}
.baron._scrollbar .baron__track {
    display: block;
}
.baron__free {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -5px;
}
.baron__bar {
    display: block;
    position:absolute;
    right: 0;    
    z-index: 1;
    width: 12px;
    height: 12px !important;
    background:#86bc42;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
    	opacity: .8;
    }
}
.baron._scrollbar .baron__bar {
    display: block;
}
.baron__control {
    display: none;
}

// Preloader
.preload_box {
	position: absolute;
	left: 50%;
	margin-left: -100px;
	top: 110px;
	z-index: -1;
}

/* Footer
 ----------------------------------------------------------------------------- */
footer {
	padding-bottom: 37px;
	padding-top: 55px;
	height: 116px;
	.copy {
		color: #252525;
		font-size: 18px;
		font-weight: 300;
	}
}

@media (max-width: 1290px) {
	footer .copy {
		margin-left: 26px;
	}
}